@use '@/styles/variables' as *;
@use '@/containers/(personal)/service/variables' as service;

$-header-padding: 12px;
$-container-padding-x-mobile: 30px;

.main {
  @include flex-column-center;
  @include desktop {
    background-color: $gray-100;
    height: calc(100% - 40px - #{$-header-padding * 2});
    justify-content: center;
    padding: 42px 12px;
  }

  width: 100%;
  height: calc(100% - 52px);
}
