@use '@/styles/variables' as *;

.buttonWrapper {
  @include button-wrapper-style;

  padding: 8px 0;

  button {
    @include flex-center;
  }

  svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
}
