@use '@/styles/variables' as *;
@use '@/containers/(personal)/service/variables' as service;

.contentList {
  @include service.container-style(20px, 8px);
}

.chattingRoom {
  @include service.popup-style(8px, 8px);
  @include flex-column;

  justify-content: space-between;
}

.title {
  @include service.title-style;
}

.chat {
  @include service.content-style;
}

// ChattingRoom
$-chat-input-box-size: 64px;

$-top-font-size: 20px;
$-top-button-height: 24px;
$-top-padding-top: 12px;
$-top-padding-bottom: 16px;
$-top-size-y: $-top-button-height + $-top-padding-top + $-top-padding-bottom;

.roomWrapper {
  height: calc(100% - $-chat-input-box-size);
}

.top {
  padding: $-top-padding-top 8px $-top-padding-bottom 4px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-100;

  button {
    height: 24px;
    display: flex;
    align-items: center;
    margin-right: 8px;

    svg {
      transform: rotate(90deg);
    }
  }

  .nickname {
    @include font-size($-top-font-size);
    margin-right: 8px;
  }

  .channelTitle {
    @include font-size($-top-font-size);
    font-weight: $semi-bold;
  }
}

.messages {
  @include flex-column;
  @include overflow-auto;

  height: calc(100% - $-top-size-y);
  padding: 0 12px;
}