@import '@/styles/variables';
@import '@/containers/service/Menu/variables';
@import '@/components/Header/variables';

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - $nav-height-mobile - 1px);

  @include desktop {
    height: calc(100vh - $nav-height-desktop);
    background: $gray-100;
  }
}

.contentWrapper {
  display: flex;
  justify-content: center;
  height: calc(100% - $menu-height);
  margin-bottom: $menu-height;
  padding: 0 16px;

  @include desktop {
    background: $gray-100;
    padding: 24px 12px;
    margin-left: $menu-width;
    width: calc(100% - $menu-width);
    height: 100%;
  }
}

@mixin content-box {
  width: 100%;
  overflow: hidden;

  @include desktop {
    @include boxShadow;

    border-radius: 20px;
    margin: 0 16px;
    max-width: 400px;
  }
}

.contentList {
  @include content-box;

  @include desktop {
    padding: 16px 16px 12px;
  }
}

.content {
  @include content-box;

  @include mobile {
    position: absolute;
    height: 100%;
    z-index: 2;
  }
}
