@use '_variables' as *;

html, body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  font-weight: $regular;
  color: $black;
  background: $white;
  text-decoration: none;
}

button {
  background: none;

  &:hover {
    cursor: pointer;
  }
}

input:focus {
  outline: none;
}

header {
  @include headerShadow;
  @include desktop {
    padding: 0 20px;
  }

  width: 100%;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2');
}
