@import '_variables';

html, body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Pretendard;
  font-weight: $regular;
  color: $black;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2');
}
