@use '@/styles/variables' as *;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputWrapper {
  @include flex-column-center;
  @include desktop {
    max-width: 480px;
  }

  padding: 32px 20px;
  width: 100%;

  button {
    width: 100%;
  }
}