@import '@/styles/variables';
@import '@/components/Header/variables';

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - $nav-height-mobile - 1px);

  @include desktop {
    height: calc(100vh - $nav-height-desktop);
    background: $gray-100;
  }
}