@use '@/styles/variables' as *;

.container {
  @include flex-column-center;
  width: 100%;
}

.descriptionWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 120px 120px 60px;
  background-color: $black;

  div {
    background-color: transparent;
    color: $white;
    max-width: 1000px;
  }
}

.cardWrapper {
  @include flex-center;
}

.card {
  width: 360px;
  padding: 30px;
  margin: 30px 0;

  .animationBox {
    width: 300px;
    height: 160px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: $white;

    &.skyblue {
      background-color: $blue-100;
    }

    &.pink {
      background-color: $red-100;
    }

    &.lightgray {
      background-color: $gray-100;
    }
  }

  .textBox {
    display: flex;
    justify-content: center;

    :first-child :first-child {
      text-align: center;
      padding-bottom: 4px;
    }
  }
}