@use '@/styles/variables' as *;
@use '@/components/Header/variables' as header;

$-header-padding: 12px;
$-container-padding-x-mobile: 30px;
$-container-padding-x-desktop: 50px;

.main {
  @include flex-column-center;
  @include desktop {
    background-color: $gray-100;
    height: calc(100% - #{header.$logo-size-desktop} - #{$-header-padding * 2});
    justify-content: center;
  }

  width: 100%;
  height: calc(100% - #{header.$nav-height-mobile});
}

.container {
  @include flex-column;
  @include desktop {
    @include boxShadow;
    max-width: 610px;
    padding: 60px $-container-padding-x-desktop;
  }

  width: 100%;
  padding: $-container-padding-x-mobile;

  background-color: $white;
  border-radius: 20px;
}