@use 'variables' as *;

html, body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: $black;
  background: $white;
  text-decoration: none;
}

button {
  background: none;

  &:hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}
