@use '@/styles/variables' as *;
@use '@/components/Header/variables' as header;

$-header-padding: 12px;

.header {
  @include desktop {
    padding: $-header-padding 0;
  }
}

.main {
  @include flex-column-center;
  @include desktop {
    background-color: $gray-100;
    height: calc(100% - #{header.$logo-size-desktop} - #{$-header-padding * 2});
  }

  width: 100%;
  height: calc(100% - #{header.$nav-height-mobile});
  justify-content: center;
}

.container {
  @include flex-column;
  @include desktop {
    @include boxShadow;
  }

  max-width: 400px;
  width: 100%;
  padding: 64px 32px;

  background-color: $white;
  border-radius: 20px;
}