@use '@/styles/variables' as *;
@use '@/containers/guest/variable' as guest;

.container {
  @include guest.container-style;
  @include flex-column;
  @include desktop {
    padding: 60px 50px;
  }

  padding: 30px;
  min-height: 600px;
  justify-content: space-between;
}

.channelInfoWrapper {
  margin-top: 20px;
  padding: 0 10px;

  .nickname {
    font-size: 24px;
    font-weight: $semi-bold;
  }

  .description {
    font-size: 14px;
    font-weight: $light;
  }
}

.guestInfoWrapper {
  @include flex-column;
  align-items: flex-end;
  padding: 0 10px;

  .nickname {
    font-size: 20px;
    font-weight: $semi-bold;
    margin: 0 8px;
  }

  button {
    width: 100%;
  }
}

.guestInfo {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  span {
    margin-right: 4px;
  }
}