@use '@/styles/variables' as *;
@use '@/containers/(personal)/service/variables' as service;
@use '@/components/Header/variables' as header;

$-header-padding: 12px;
$-container-padding-x-mobile: 30px;

header .wrapper {
  padding: $-header-padding 0;

  @include mobile {
    padding: 0 calc(#{$-container-padding-x-mobile} - #{header.$nav-padding-x});
  }
}

.main {
  @include flex-column-center;
  @include desktop {
    background-color: $gray-100;
    height: calc(100% - #{header.$logo-size-desktop} - #{$-header-padding * 2});
    justify-content: center;
  }

  width: 100%;
  height: 100%;
}

.container {
  @include flex-column;
  @include desktop {
    @include boxShadow;
    max-width: 610px;
    padding: 60px 50px;
  }
  justify-content: space-between;

  width: 100%;
  height: 600px;
  padding: 30px;

  background-color: $white;
  border-radius: 20px;
}

.channelInfoWrapper {
  margin-top: 20px;
  padding: 0 10px;

  .nickname {
    font-size: 24px;
    font-weight: $semi-bold;
  }

  .description {
    font-size: 14px;
    font-weight: $light;
  }
}

.guestInfoWrapper {
  @include flex-column;
  align-items: flex-end;
  padding: 0 10px;

  .nickname {
    font-size: 20px;
    font-weight: $semi-bold;
    margin: 0 8px;
  }

  button {
    width: 100%;
  }
}

.guestInfo {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  span {
    margin-right: 4px;
  }
}