@use '@/styles/variables' as *;

@mixin font-style($backgroundColor, $color, $font-size, $font-weight) {
  background-color: $backgroundColor;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin svg-style($path-color) {
  background-color: transparent;

  path {
    color: $path-color;
  }
}

@mixin link-style {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
}

.firstWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 560px;
  background-color: black;

  div {
    background-color: transparent;
  }

  .description {
    @include font-style(transparent, $white, 48px, $bold);
  }

  .moreButton {
    margin: 16px 0;

    a {
      @include font-style($blue-500, $white, 16px, $regular);
      padding: 8px 16px;
      border-radius: 30px;
    }
  }

  .imageBox {
    color: white;
    font-size: 40pox;
  }
}

.secondWrapper {
  width: 100%;
  padding: 48px 64px;

  .content {
    @include flex-row;
    justify-content: space-between;
    margin: 0 16px;

    .description {
      @include font-style(transparent, $black, 32px, $semi-bold);
    }
  }

  .cardWrapper {
    @include flex-row;
    margin: 32px 0;
  }
}

.card {
  @include flex-column;
  justify-content: space-between;
  width: 100%;
  height: 320px;
  margin: 0 16px;
  padding: 32px;
  border-radius: 20px;

  .title {
    @include font-style(transparent, $white, 28px, $semi-bold);
  }

  a {
    @include font-style(transparent, $white, 16px, $regular);
    @include link-style;
  }

  svg {
    @include svg-style(white);
  }


  &.navy {
    background-color: $blue-900;
  }

  &.blue {
    background-color: $blue-700;
  }

  &.green {
    background-color: $green-500;
  }
}

.thirdWrapper {
  background-color: $blue-100;
  padding: 120px;

  .description {
    @include font-style(transparent, $black, 36px, $medium);
  }

  .link {
    @include link-style;

    background-color: transparent;
    margin-top: 32px;

    p {
      @include font-style(transparent, $black, 16px, $bold);
      margin-right: 4px;
    }

    svg {
      @include svg-style($blue-500);
      transform: rotate(270deg);
      width: 20px;
    }
  }
}