@use '@/styles/variables' as *;

.checkBoxWrapper {
  @include flex-column;

  padding: 8px 0;

  button {
    margin-top: 120px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;

  .prevButton {
    &.hidden {
      visibility: hidden;
    }

    &.none {
      display: none;
    }
  }
}

.signupButton {
  margin-top: 160px;

  button {
    width: 100%;
  }
}

$-checkbox-font-size: 16px;

.checkBox {
  width: 100%;
  height: 40px;
  font-size: $-checkbox-font-size;
  font-weight: $medium;
  border-radius: 8px;
  padding: 12px;

  label {
    display: flex;
    background-color: transparent;
  }

  input {
    margin-right: 4px;
  }

  &.gray {
    background-color: $gray-100;
  }

  &.white {
    background-color: $white;

    span {
      color: $blue-300;
      margin-right: 4px;
      font-size: 14px;
      font-weight: $medium;
    }
  }

}

.formWrapper {
  padding: 8px 0;
  width: 100%;
  position: relative;

  p {
    font-size: 14px;
    font-weight: $bold;
    margin-bottom: 4px;
  }

  .imageBox {
    @include flex-center;

    input {
      display: none;
    }
  }
}

.completeWrapper {
  margin-top: 100px;

  button {
    width: 100%;
  }
}
