@use '@/styles/variables' as *;

.container {
  width: 100%;
  height: 100%;
}

.menuBar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $black;

  button {
    background-color: transparent;
    margin: 8px 16px;
    color: $white;
  }
}

.titleWrapper{
  width: 100%;
  padding: 64px;
  background-color: $white;
  color: $black;
  font-size: 56px;
  font-weight: $semi-bold;
}

.introductionWrapper {
  @include flex-column;

  .introduce {
    padding: 30px 30px 0;
  }
}

.guidanceWrapper {
  @include flex-column;

  .introduce {
    padding: 30px 30px 0;
  }
}

.apiWrapper {
  @include flex-column;

  .introduce {
    padding: 30px 30px 0;
  }
}

.guiWrapper {
  @include flex-column;

  .introduce {
    padding: 30px 30px 0;
  }
}

.infoBox {
  background-color: $gray-100;
  border-radius: 10px;
  padding: 24px;

  .title {
    background-color: transparent;
    font-size: 24px;
    font-weight: $semi-bold;
    padding-bottom: 8px;
  }

  .content {
    background-color: transparent;
    font-size: 16px;
  }
}

