@use "@/styles/variables" as *;
@use 'ChannelListItem/index.module.scss' as channel;
@use '@/containers/(personal)/service/variables' as service;

$-padding-x: 8px;

.channel {
  @include service.container-style(20px, $-padding-x);
}

.title {
  @include service.title-style;
}

.list {
  @include service.content-style;
  @include overflow-auto;

  padding: 0 #{20px - $-padding-x};
}

.channelCreateButton {
  //@include channel.container-style;
  @include color($gray-500);

  width: 100%;
  justify-content: center;
  align-items: center;

  svg {
    @include transition-slow;

    margin-bottom: 4px;
  }

  &:active {
    @include background(darken($white, 1%));
  }
}

.channelCreate {
  @include service.popup-style;
  @include flex-column;

  justify-content: space-between;
}

.buttonWrapper {
  @include button-wrapper-style;
}
