@use '@/styles/variables' as *;
@use '@/components/Form/index.scss' as *;

.inputBox {
  @include form(40px);
  padding: 16px 20px;

  &.invalid {
    border: $red-300 1px solid;

    &::placeholder {
      color: $red-300;
    }
  }
}