@use '@/styles/variables' as *;
@use './variables' as header;

@mixin nav {
  margin: 0 auto;
  max-width: $desktop;
  display: flex;
}

.navBelt {
  @include nav;

  padding: 10px 12px 6px;
  font-size: 12px;
  line-height: 12px;

  a {
    margin-left: 12px;
  }

  div {
    color: $gray-500;
  }

  @include mobile {
    @include background($black);
    padding-bottom: 10px;

    a {
      color: $gray-100;
    }

    div {
      color: $gray-300;
    }
  }
}

.navBar {
  @include nav;

  padding: 0 12px;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    height: header.$nav-height-mobile;
  }
}

.logo {
  display: flex;
  align-items: flex-end;

  img {
    margin-right: 4px;

    @include mobile {
      width: 24px;
      height: 24px;
    }
  }

  div {
    font-weight: $semi-bold;
    font-size: 30px;

    @include mobile {
      font-size: 18px;
    }
  }

  .biz {
    font-weight: $light;
  }
}

@mixin button {
  display: flex;
  align-items: center;
}

.closeDrawer {
  @include button;
}

.openDrawer {
  @include button;
  @include desktop {
    display: none;
  }
}

.loginMenu {
  @include mobile-disable;

  button {
    margin: 0 2px;
  }
}

.navMenu {
  @include mobile-disable;

  height: header.$nav-height-desktop;
  display: flex;
  align-items: center;

  a {
    padding: 0 16px;
    font-size: 16px;
    font-weight: $medium;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      color: $blue-500;
      border-bottom: 3px solid $blue-500;
    }
  }
}

.drawerWrapper {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 32px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .5);

  &.signedIn {
    top: 0;
  }
}

@mixin drawer-top {
  @include background($black);

  path, a {
    color: $white;
  }
}

.drawer {
  background: $white;
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;

  .closeBox {
    @include drawer-top;

    display: flex;
    justify-content: flex-end;
    padding: 12px;
  }

  .loginBox {
    @include drawer-top;

    padding: 20px;

    a {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: $semi-bold;
    }

    svg {
      margin-left: 4px;
      transform: rotate(-90deg);
    }
  }

  .nav {
    font-weight: $medium;
    padding: 20px;
    font-size: 18px;
  }
}

