@use '@/styles/variables' as *;

@mixin item-margin {
  margin: 4px 0;
}

.title {
  font-size: 24px;
  font-weight: $semi-bold;
  margin-bottom: 16px;
}

.selectButtonWrapper {
  @include item-margin;
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    @include flex-center;
    width: 204px;
  }

  .icon {
    width: 16px;
    margin-right: 2px;
  }
}

.inputWrapper {
  input {
    @include item-margin;
  }
}

.buttonWrapper {
  @include flex-column;
  margin-bottom: 160px;

  button {
    @include item-margin;
  }

  .link {
    @include item-margin;

    font-size: 12px;
    color: $gray-500;
    display: flex;
    justify-content: flex-end;
  }
}