@use '@/styles/variables' as *;

$-grid-gap: 8px;

@mixin item-padding {
  padding: 8px 0;
}

.title {
  font-size: 28px;
  font-weight: $bold;
  margin-bottom: 16px;
}

.selectButtonWrapper {
  @include item-padding;
  width: calc(100% - #{$-grid-gap});
  display: grid;
  gap: $-grid-gap;
  grid-template-columns: 50% 50%;

  button {
    @include flex-center;
  }

  .icon {
    width: 16px;
    margin-right: 2px;
  }
}

.buttonWrapper {
  @include flex-column;
  @include item-padding;

  .link {
    @include item-padding;

    font-size: 14px;
    color: $gray-500;
    display: flex;
    justify-content: flex-end;

    &:hover {
      color: $blue-300;
    }
  }
}

