@use '@/styles/variables' as *;
@use 'Menu/variables' as menu;
@use '@/components/Header/variables' as header;
@use 'variables' as service;

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - #{header.$nav-height-mobile} - 1px);

  @include desktop {
    height: calc(100vh - #{header.$nav-height-desktop});
    background: $gray-100;
  }
}

.contentWrapper {
  display: flex;
  justify-content: center;
  height: calc(100% - #{menu.$height-mobile});
  margin-bottom: menu.$height-mobile;
  padding: 0 16px;

  @include desktop {
    background: $gray-100;
    padding: 42px 12px;
    height: calc(100% - #{menu.$height-desktop});
  }
}


.contentList {
  @include service.box-style;
}

.content {
  @include service.popup-style;
}
