$profile-size-medium: 40px;
$profile-size-small: 32px;

$profile-red: #f87171;
$profile-orange: #fb923c;
$profile-amber: #fbbf24;
$profile-yellow: #facc15;
$profile-lime: #a3e635;
$profile-green: #4ade80;
$profile-emerald: #34d399;
$profile-teal: #2dd4bf;
$profile-cyan: #22d3ee;
$profile-sky: #38bdf8;
$profile-blue: #60a5fa;
$profile-indigo: #818cf8;
$profile-violet: #a78bfa;
$profile-purple: #c084fc;
$profile-fuchsia: #e879f9;
$profile-pink: #f472b6;
$profile-rose: #fb7185;
