name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout config repository
        uses: actions/checkout@v4
        with:
          repository: Camus-chat/config
          path: config
          token: ${{ secrets.GH_PAT }}

      - name: Copy .env file
        run: cp config/frontend/.env .env

      - name: Build Docker image
        run: |
          docker build -t camus-frontend:latest .

      - name: Log in to Amazon ECR
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ECR_URL: ${{ secrets.AWS_ECR_URL }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ECR_URL

      - name: Tag Docker image
        run: |
          docker tag camus-frontend:latest $AWS_ECR_URL/camus-fe:latest

      - name: Push Docker image to ECR
        run: |
          docker push $AWS_ECR_URL/camus-fe:latest


  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy Docker container to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker pull $AWS_ECR_URL/camus-fe:latest
            docker stop frontend || true
            docker rm frontend || true
            docker run -d -p 3000:3000 --name frontend $AWS_ECR_URL/camus-fe:latest
